 <div class="fila4" id="eventos">
        <div class="titulo">
            <span>Eventos</span>
            <img src="assets/images/iconos/castillo.png" class="iconos_titulos" alt="" />
        </div>
        <div class="contenedor_evento">
            <div class="evento_texto">
                <div id="evento_titulo">
                    <span>Este fin de semana sera de DOMINION!</span>
                    <div id="evento_texto">
                        <br>
                        <p>Ven y unete para probar el juego de mesa N°1 de DEVIR:
                        <b>DOMINION</b>
                        </p>
                        <p>La entrada es liberada pero los cupos limitados, asi que apresurate terrateniente!
                            te esperamos en nuestra tienda ubicada en:
                        </p>
                        <p><b>Santiago Centro, #123 ficticio</b></p>
                        <p><b>Desde las: 16:00 Hrs - 18:00 Hrs</b></p>
                        <p>Te esperamos, no faltes!</p>
                    </div>
                </div>
            </div>
            <div class="evento_imagen">
                <img id="evento_tamaño_foto" src="assets/images/eventos/eventos.jpg"
                    alt="Personas jugando cartas, juego de mesa dominion" />
            </div>
        </div>
    </div>